nav{
	background-image: url(https://st.depositphotos.com/1897095/1642/i/600/depositphotos_16428473-stock-photo-fog-and-pastel-gradient.jpg);
	width: 100%;
	height:50px;
	text-align: center;
	padding: 15px;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 10px;
}
nav a :visited{
	color: blue;
}