nav{
	background-image: url(https://st.depositphotos.com/1897095/1642/i/600/depositphotos_16428473-stock-photo-fog-and-pastel-gradient.jpg);
	width: 100%;
	height:50px;
	text-align: center;
	padding: 15px;
}
nav a:link {
  color: red;
}
nav a:visited {
  color: green;
}nav a:hover {
  color: blue;
}
nav a:active {
  color: blue;
}
nav a{
	background-color:#CFA7E6;
}
.return{
	position: all;
	margin-top: 0px;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	align:right;
  animation-name: regreso;
  animation-duration: 6s;
}

@keyframes regreso {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75% {background-color: hotpink}
  100% {background-color: green;}
}